* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Varela Round;;
}

#navdiv {
   border-bottom: 2px solid rgb(221, 207, 207);
   height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

nav {
   /* border: 2px solid red;  */
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;

}

#menu>ul>li {
   list-style: none;
   font-family: Varela Round;
   font-weight: bolder;
   font-size: large;
   
}

li>a{
   text-decoration: none;
   color:black ;
}

li>a:hover,#Logo:hover,#view_recipe>a:hover{
   color: rgb(221, 76, 23);
   transition: ease-in 0.1s;
}

#menu>ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
}

#navdiv>nav>#Logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 2px solid red;  */
}

#menu {
   width: 40%;

}

#Logo {
   width: 30%;
   font-family: Varela Round;
   font-weight: bolder;
   font-size: 250%;
}

section {
   height: 100vh;
   /* border: 2px solid red;  */
}

#tagline {
   height: 14vh;
   /* border: 2px solid green; */
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#tagline>img {
   width: 55%;
   margin: auto;
}

#display_section {
   width: 94%;
   margin: auto;
   height: 75vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.img-thum {
   height: 65vh;
   width: 22.5%;
   margin: 2vh;
}


#display_div {
   background-color: #F7F7F7
}

#card-title {
   z-index: 11;
}

#round_section_display {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
   margin-top: 6vh;
}

#round_div>img{
   height: 96px;
   width: 96px;
   border-radius: 50%;
}

#round_div>p{
   font-weight: bold;
   text-align: center;
}

.card>span{
   font-weight: bold;
   text-align: center;
}

#view_recipe{
   padding: 10px 30px 10px 30px;
   background-color: #734060;
   border: transparent;
   display: flex;
   justify-content: center;
   width: 50%;
   margin: auto;
   color: white;
   margin-top: 5vh;
   font-family: Varela Round;
   font-weight: bolder;
   margin-bottom: 5vh;
}

#vegetarian_div,#non_vegetarian_div,#quick_preparation_div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: auto;
}


#veg_img-display>img{
   height: 274px;
   width: 274px;
}

#non_veg_img-display>img{
   height: 274px;
   width: 274px;
}

#menu_selector{
   padding: 10px 30px 10px 30px;
   background-color: #d9cece;
   border: 2px solid rgb(19, 5, 5);
   border: grey;
   display: flex;
   justify-content: space-evenly;
   width: 60%;
   margin: auto;
   color: black;
   margin-top: 5vh;
   font-family: Varela Round;
   font-weight: bolder;
   margin-bottom: 5vh;
}

#vegetarian_button:hover,#non_vegetarian_button:hover,#quick_recipe_button:hover{
   background-color: #734060;
   color: white;
}

#vegetarian_button,#non_vegetarian_button,#quick_recipe_button{
   height: 8vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 33%;
}

#menu_selector{
   padding: 0;
   height: 8vh;
   
}

.app{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 24px;
   font-weight: 800;
   
   color: rgba(2, 6, 12, 0.92);

}

#footer{
   background-color: black;
   height: 35vh;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   color: rgb(154,146,120);
   position: relative;
   top:70px;

}
#local{
   position: relative;
   top: 10px;

}

#recipe_img{
   width: 200px;
   height: 200px;
}

.card-title{
   font-size: xx-large;
   font-weight: bolder;
}


.card>img:hover,.card>.card-img-overlay:hover{
  transform: scale(0.96);
  transition: ease-in-out 0.2s;
}

#view_recipe>a{
   text-decoration: none;
   color: white;
}


.card{
   display: flex;
   align-items: baseline;
}

